<% provide(:title, "Home") %>
<br/>
<p id="logo-black">MyQuotes Application<div id="logo-black" style="font-size: 1.5em;">by Maximilian Michaels</div></p><br/>
<p>Welcome to the Bootstrapped version of my MyQuotes/Static Pages Application.<br/>Please click the logo in the top left or the MyQuotes link on the navbar to be directed to the application...</p>
