<% provide(:title, "Edit") %>
<h1>Editing Quote</h1>

<%= render 'form' %>

<%= link_to 'Show', @quote, class: "btn btn-primary btn-small", data: { confirm: 'Are you sure you want to leave without saving?' } %> |
<%= link_to 'Back', quotes_path, class: "btn btn-danger btn-small", data: { confirm: 'Are you sure you want to leave without saving?' } %>
