<% provide(:title, "New") %>
<h1>New Quote</h1>

<%= render 'form' %>

<%= link_to 'Back', quotes_path, class: "btn btn-danger btn-small", data: { confirm: 'Are you sure you want to leave without saving?' } %>
